body, .search-bar-input  {
	background-color: white;
}
.text-style {
	color: #332626;
	font-family: Arial;
}
.title-container {
}
.search-bar-container {
	width: 400px;
	margin: auto;
	position:relative;
}
.plot-title {
	margin-top: 33%;
	font-size: 48px;
}
@keyframes widenBig {
	from {
		width: 0px; 
	}
	to {
		width: 400px;
	}
}
.tv-test-card {
	margin-top: -40px;
	height: 10px;
	width: 400px;
	animation: 2s ease-in-out 0s 1 widenBig;
}
.back-to-search {
	text-decoration: none;
	font-family: Arial;
	color: black;
}
.back-to-search:hover {
	color: darkred;
}
@keyframes widenSmall {
	from {
		width: 0px; 
	}
	to {
		width: 120px;
	}
}
.test-card-back {
	height: 3px;
	width: 120px;
	display: block;
	animation: 2s ease-in-out 0s 1 widenSmall;
}
/* animation: name duration timing-function 
	delay iteration-count direction fill-mode 
	play-state;*/

.plot-title, .plot-subtitle {
	font-weight: 100;
}
::placeholder {
	color: #a8a8a8;
}
.search-bar-input {
	width: 400px;
	height: 40px;
	font-size: 32px;
	border: 0;
	color: #a8a8a8;
}
.search-bar-input:hover, .search-bar-input:focus {
	border-bottom: 1px solid #a8a8a8;
}
.search-bar-input:focus {
	outline: 0;
}
.series-found-container {
	width: 400px;
	margin:auto;
}
.series-found { 
	margin-left: 3px;
}
.series-found a {
	text-decoration: none;
}
.series-found a:hover {
	color: #6e5817;
}

.series-title {
	margin-left: 40px;
}

.custom-tooltip {
	background-color: hsla(0,0%,0%,0);
	border-radius: 10px;
	padding: 1px 10px;
}
.tooltip-text {
	font-family: Arial;
}
.top-content-container {
	width:100%;
}
.episode-top-container:after {
	margin:auto;
	width: 75%;
	display: table;
	clear: both;
	content: "";
}
.chart-container {
	margin-top: 50px;
	float: left;
	width: 100%;
}
.unrated-episode-list {
	float:right;
	width: 25%;
}
.get-more-results {
	margin-top: 5px;
}
.bottom-table-container {
	display: table;
	width: calc(100% - 100px);
	margin-left: 35px;
}
.bottom-table-body {
	display: table-row-group;
}
.bottom-table-row {
	display: table-row;
}
.bottom-table-cell {
	display: table-cell;
}
