body, .search-bar-input  {
	background-color: black;
}
.text-style {
	color: white;
	font-family: Arial;
	font-weight: 100;
}
.search-bar-container {
	padding-top: 10px;
	width: 400px;
	margin: auto;
	position:relative;
}
.plot-title {
	margin-top: 33%;
	font-size: 48px;
}
.search-bar-input {
	width: 400px;
	height: 40px;
	font-size: 32px;
	border: 0;
	color: white;
}
.search-bar-input:focus {
	outline: 0;
}
.tv-test-card {
	margin-top: -40px;
	height: 3px;
	width: 0px;
	/*animation: widenBig 2s ease-in-out 0s 1;*/
}
.search-bar-input:focus + .tv-test-card {
	animation: widenBig .5s ease-out forwards;
}
@keyframes widenBig {
	from {
		width: 0px; 
	}
	to {
		width: 400px;
	}
}
.back-to-search-container {
	float: right;
	margin-right: 20px;
}
.back-to-search {
	color: white;
	text-decoration: none;
	font-family: Arial;
}
.back-to-search:visited {
	color: white;
	font-family: Arial;
}
.test-card-back {
	height: 2px;
	width: 0px;
	display: block;
	border-radius: 10px;
	margin-top: 3px;
}
.back-to-search:hover + .test-card-back {
	animation: widenSmall .5s ease-out forwards;
}
@keyframes widenSmall {
	from {
		width: 0px; 
	}
	to {
		width: 130px;
	}
}
.plot-subtitle {
	color: gray;
}

.plot-title, .plot-subtitle {
	font-weight: 100;
}
::placeholder {
	color: #a8a8a8;
}
.fa-search {
	color: white;
}
.rating {
	display: inline-block;
	font-size: 32px;
}
.rating-denominator {
	color: gray;
	display: inline-block;
}

.series-found-container {
	width: 400px;
	margin:auto;
}
.series-found { 
	margin-left: 3px;
}
.series-found a {
	color: gray;
	text-decoration: none;
}
.series-found a:hover {
	color: white;
}
.series-title {
	margin-left: 40px;
}
#episode-title {
	margin-left: 40px;
}
.episode-title {
	font-size: 28px;
}
.episode-number {
	color: gray;
}
.custom-tooltip {
	background-color: hsla(0,0%,0%,0);
	border-radius: 10px;
	padding: 1px 10px;
	margin-left: -60px;
}
.tooltip-text {
	font: 18px Arial;
	color: white;
}
.top-content-container {
	width:100%;
}
.episode-top-container:after {
	margin:auto;
	width: 75%;
	display: table;
	clear: both;
	content: "";
}
.chart-container {
	margin-top: 25px;
	float: left;
	width: 100%;
}
.unrated-episode-list {
	float:right;
	width: 25%;
}
.get-more-results {
	margin-top: 5px;
}
.bottom-table-container {
	display: table;
	width: calc(100% - 100px);
	margin-left: 35px;
}
.bottom-table-body {
	display: table-row-group;
}
.bottom-table-row {
	display: table-row;
}
.bottom-table-cell {
	display: table-cell;
}
.percent-bar {
	width: 500px;
	height: 30px;
	padding: 0;
	border-radius: 5px;
	margin-bottom: 20px;
}
.inner-percent-bar {
	border-radius: 5px;
	height: 30px;
	overflow: hidden;
}
.popular-green {
	background-color: #118a21;
}
.unpopular-red {
	background-color: #ab0911;
}
.popular-dark-green {
	background-color: #011c02;
}
.unpopular-dark-red {
	background-color: #4f070b;
}
.inline {
	display: inline-block;
}
.block {
	display: block;
}
.out-percent-text {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
.in-percent-text {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
.episode-percent-text {
	margin-top: 5px;
	padding: 3px;
}
.right {
	float: right;
}
.left {
	float: left;
}
