body, .search-bar-input  {
	background-color: black;
}

html{
    overflow-y:scroll;
}

html::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.text-style {
	color: white;
	font-family: Arial;
	font-weight: 100;
}
.search-bar-container {
	padding-top: 10px;
	width: 400px;
	margin: auto;
	position:relative;
}
.plot-title {
	margin-top: 33%;
	font-size: 48px;
}
.search-bar-input {
	width: 400px;
	height: 40px;
	font-size: 32px;
	border: 0;
	color: white;
}
.search-bar-input:focus {
	outline: 0;
}
.tv-test-card {
	margin-top: -40px;
	height: 3px;
	width: 0px;
	/*animation: widenBig 2s ease-in-out 0s 1;*/
}
.search-bar-input:hover + .tv-test-card {
	animation: widenBig .2s ease-out forwards;
}
@keyframes widenBig {
	from {
		width: 0px; 
	}
	to {
		width: 400px;
	}
}
.search-bar-input:focus + .tv-test-card {
	animation: widen .5s ease-out forwards;
}
@keyframes widen {
	from {
		width: 400px; 
	}
	to {
		width: 400px;
	}
}
.back-to-search-container {
	float: right;
	margin-right: 20px;
}
.back-to-search {
	color: white;
	text-decoration: none;
	font-family: Arial;
}
.back-to-search:visited {
	color: white;
	font-family: Arial;
}
.test-card-back {
	height: 2px;
	width: 0px;
	display: block;
	border-radius: 10px;
	margin-top: 3px;
}
.back-to-search:hover + .test-card-back {
	animation: widenSmall .5s ease-out forwards;
}
@keyframes widenSmall {
	from {
		width: 0px; 
	}
	to {
		width: 130px;
	}
}
.plot-subtitle {
	color: gray;
}

.plot-title, .plot-subtitle {
	font-weight: 100;
}
::placeholder {
	color: #a8a8a8;
}
.fa-search {
	color: white;
}
.rating {
	display: inline-block;
	font-size: 32px;
}
.rating-denominator {
	color: gray;
	display: inline-block;
}

.series-found-container {
	width: 400px;
	margin:auto;
}
.series-found { 
	margin-left: 3px;
}
.series-found a {
	color: gray;
	text-decoration: none;
}
.series-found a:hover {
	color: white;
}
.series-title {
	margin-left: 40px;
}
@keyframes shrinkTitle {
	from {
		font-size: 48px; 
	}
	to {
		font-size: 20px;
	}
}
@keyframes growTitle {
	from {
		font-size: 20px; 
	}
	to {
		font-size: 48px;
	}
}
.large-title {
	margin-top: 20px;
	font-size: 48px;
	animation: growTitle .2s ease-in-out forwards;
}
.small-title {
	margin-top: 20px;
	font-size: 20px;
	animation: shrinkTitle .2s ease-in-out forwards;
}
.title-container {
	height: 105px;
}
.episode-title-container {
	margin-left: 40px;
	margin-top: -10px;
	margin-bottom: 10px;
}
.episode-title {
	font-size: 36px;
}
.episode-number {
	color: gray;
}
.custom-tooltip {
	background-color: hsla(0,0%,0%,0);
	border-radius: 10px;
	padding: 1px 10px;
	margin-left: -60px;
}
.tooltip-text {
	font: 18px Arial;
	color: white;
}
.top-content-container {
	width:100%;
}
.episode-top-container:after {
	margin:auto;
	width: 75%;
	display: table;
	clear: both;
	content: "";
}
.chart-container {
	margin-top: 25px;
	float: left;
	width: 100%;
}
.unrated-episode-list {
	float:right;
	width: 25%;
}
.loading-test-card {
	padding-top: 25%;
	width: 250px;
	margin: auto;
}

@keyframes rotateTestCard {
	from {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);
	}
}
.loading-img {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	animation: rotateTestCard 10s linear forwards;
}

.get-more-results {
	margin-top: 5px;
}
.bottom-table-container {
	display: table;
	width: calc(100% - 100px);
	margin-left: 35px;
}
.bottom-table-body {
	display: table-row-group;
}
.bottom-table-row {
	display: table-row;
}
.bottom-table-cell {
	display: table-cell;
}
.percent-bar {
	height: 25px;
	padding: 0;
	border-radius: 5px;
	margin-bottom: 10px;
}
.inner-percent-bar {
	border-radius: 5px;
	height: 25px;
	overflow: hidden;
	white-space: nowrap;
}
.popular-green {
	background-color: #118a21;
}
.unpopular-red {
	background-color: #ab0911;
}
.popular-dark-green {
	background-color: #011c02;
}
.unpopular-dark-red {
	background-color: #4f070b;
}
.inline {
	display: inline-block;
}
.bg-white {
	background-color: white;
	height: 20px;
}
.bg-black {
	background-color: black;
	height: 20px;
}
.name-cell {
	width: 200px;
	overflow: hidden;
}
.block {
	display: block;
}
.out-percent-text {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}
.in-percent-text {
	float: right;
	margin-top: 5px;
	margin-right: 10px;
}
.episode-percent-text {
	margin-top: 2px;
	margin-left: 2px;
	padding: 3px;
	font-size: 14px;
}
.right {
	float: right;
}
.left {
	float: left;
}

@media only screen and (max-width: 400px) {
	@keyframes shrinkTitle {
		from {
			font-size: 28px; 
		}
		to {
			font-size: 16px;
		}
	}
	@keyframes growTitle {
		from {
			font-size: 16px; 
		}
		to {
			font-size: 28px;
		}
	}
	.title-container {
		height: 140px;
	}
	.large-title {
		margin-top: 20px;
		font-size: 28px;
		animation: growTitle .2s ease-in-out forwards;
	}
	.small-title {
		margin-top: 20px;
		font-size: 16px;
		animation: shrinkTitle .2s ease-in-out forwards;
	}
	.episode-title {
		font-size: 24px;
	}
	.episode-list-title {
		font-size: 15px;
	}
}
