body, .search-bar-input  {
	background-color: #fcda74;
}
.text-style {
	color: #ab8b2e;
	font-family: Arial;
}
.search-bar-container {
	width: 400px;
	margin: auto;
	position:relative;
}
.plot-title {
	margin-top: 33%;
	font-size: 48px;
}
.plot-title, .plot-subtitle {
	font-weight: 100;
}
::placeholder {
	color: #d1ab3b;
}
.search-bar-input {
	width: 400px;
	height: 40px;
	font-size: 32px;
	border: 0;
	color: #ab8b2e;
}
.search-bar-input:hover, .search-bar-input:focus {
	border-bottom: 1px solid #ab8b2e;
}
.search-bar-input:focus {
	outline: 0;
}
.series-found-container {
	width: 400px;
	margin:auto;
}
.series-found { 
	margin-left: 3px;
}
.series-found a {
	text-decoration: none;
}
.series-found a:hover {
	color: #6e5817;
}

.series-title {
	margin-left: 40px;
}
.episode-lists-container:after {
	display: table;
	clear: both;
	content: "";
}
.episode-list {
	float: left;
  	width: 33%;
}
.custom-tooltip {
	background-color: hsl(45,90%,70%,0.90);
	border-radius: 10px;
	padding: 1px 10px;
}
.tooltip-text {
	font-family: Arial;
	color: #6e5817;
}
.top-content-container {
	width:100%;
}
.episode-top-container:after {
	margin:auto;
	width: 75%;
	display: table;
	clear: both;
	content: "";
}
.chart-container {
	float: left;
  	width: 75%;
}
.unrated-episode-list {
	float:right;
	width: 25%;
}
.get-more-results {
	margin-top: 5px;
}
.back-to-search {
	text-decoration: none;
	font-family: Arial;
}
.back-to-search:hover {
	text-decoration: underline;
}
.bottom-content-container {
	margin-left: 40px;
}
